<!-- /views/partials/header.ejs -->
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>austin ipsum</title>
  <div id="page-wrap">
    <div id="top">
    </div>
        <div id="titleBox">
          <div id="logo"><img src="/images/austinipsum-logosmaller.png" width="300" height="130">
          </div>
        </div>
    
      <div id="selections">
          <head>
            <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Hind+Siliguri:600' rel='stylesheet' type='text/css'>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
                <body>
                    <div>1.  how many sentences would you like?</div>
                      <input id="number" type="number">
                    <div>2.  pick food or fun words</div>
                       <button id="food" val="food"> <i class="fa fa-cutlery fa-2x"></i> food </button> 
                       <button id="fun" val="fun"> <i class="fa fa-hand-peace-o fa-2x"></i> fun </button>
                        <div>3. go! or clear it</div>
                       <button id="go" type="submit"> <i class="fa fa-arrow-down fa-2x"> </i> go </button>
                       <button id="clear"><i class="fa fa-eraser fa-2x"></i> clear </button>

                </body>
          </head>
      </div>

      <!-- text box -->
                  <div id="textBox">
                    <div id="paragraph">
                    </div>
                  </div>

      <!-- widgets -->
                          <div id="widgets">
                            <div id="weather">
                              <span style="display: block !important; width: 180px; text-align: center; font-family: sans-serif; font-size: 12px;"><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:78701.1.99999&bannertypeclick=wu_travel_plane1" title="Austin, Texas Weather Forecast" target="_blank"><img src="http://weathersticker.wunderground.com/weathersticker/cgi-bin/banner/ban/wxBanner?bannertype=wu_travel_plane1&pwscode=KTXAUSTI536&ForcedCity=Austin&ForcedState=TX&zip=78701&language=EN" alt="Find more about Weather in Austin, TX" width="160" /></a><br><a href="http://www.wunderground.com/cgi-bin/findweather/getForecast?query=zmw:78701.1.99999&bannertypeclick=wu_travel_plane1" title="Get latest Weather Forecast updates" style="font-family: sans-serif; font-size: 12px" target="_blank"></a></span>
                            </div>
                            <br>
                            <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/Do512" data-widget-id="664158765445435392">Tweets by @Do512</a>
                            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                            
                            <div id="counter">
                              <iframe src="http://free.timeanddate.com/countdown/i4xjbdbm/n24/cf111/cm0/cu1/ct0/cs1/ca0/co1/cr0/ss0/cac000/cpc000/pc02ba84/tc44fd9f/fn3/fs120/szw256/szh108/tatSXSW%20starts%20in/tac000/tptTime%20since%20Event%20started%20in/tpc000/iso2016-03-11T00:00:00" allowTransparency="true" frameborder="0" width="256" height="108"></iframe>
                            </div>

                          </div>
      <!-- last row -->
                        <div id="lastRow">
                          <!--  footer -->
                            <div id="love"> <a href="https://www.hellothereblair.com" target="_blank"> Made with <i class="fa fa-heart"> </i> in Austin TX </a>
                            </div>
                              <br>
                            <!-- Start of SimpleHitCounter Code -->
                            <div id="hits" align="center"><img src="http://simplehitcounter.com/hit.php?uid=1975375&f=0&b=16711935" border="0" height="18" width="83" alt="web counter"></a><br><a target="_blank" style="text-decoration:none;">lives touched</a>
                            </div>
<!-- End of SimpleHitCounter Code -->
                        </div>
                  
 



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

 <script src="/javascripts/main.js"></script>


  </div>  <!-- page wrap div -->
  <br>


 